@media (min-width:768px){
    .desk-nav{
        display: none;
    }
.hero{
    flex-direction: row;
}
.main{
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
}
.product{
    width: 220px;
    height: 220px;
    align-self: center;
}
.address-container{
    display: flex;
    justify-content: space-between;
}
.footer .Subscribe{
    margin: 0px 0px 30px;
}
.article{
    width: 330px;
    height: 330px;
    background-repeat: no-repeat; 
}
}